.App {
	text-align: left;

	button {
		font-weight: bold;
		height: 50px;
		width: 5%;
		font-size: x-large;
	}
	.textBox {
		display: flex;
		border: 5px Solid black;
		height: 3%;
		width: 20%;
		font-Weight: bold;
		align-content: center;
	}
}
