.App {
	text-align: left;

	.textBox {
		display: flex;
		justify-content: flex-end;
	}
}
.buttonSize {
	width: 8vmin;
	height: 8vmin;
	border: none;
}

.sprite {
	background-image: url('../src/Images/calculator.png');
	background-size: 400%;
}
