.App {
	text-align: left;

	.textBox {
		display: flex;
		justify-content: flex-end;
		border: 1px Solid black;
		font-weight: bold;
		font-size: 24pt;
	}
}
.number {
	width: 8vmin;
	height: 8vmin;
}

.sprite {
	background-image: url('../src/Images/background.png');
	background-size: 500px 510px;
}
